@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Remove default link styling */
  a {
    text-decoration: none !important;
    color: inherit !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  a:visited {
    color: inherit !important;
  }
  
  a:active {
    color: inherit !important;
  }
  
  a:link {
    color: inherit !important;
    text-decoration: none !important;
  }
}

html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}
